NODE_ENV = development
PORT = 9042
MONGO_URI = mongodb+srv://light:light@cluster0.drlit.mongodb.net/multivendor_tyre?retryWrites=true&w=majority
# MONGO_URI = mongodb://localhost/multivendor
JWT_SECRET = 'multivendor-dhwani-bytes'
LIMIT = 60
# URL INFO FOR EMAIL
URI_SITE = https://domain.com/
LOGO = https://pickkro.com/assets/images/icon/logo.png
ADDRESS = 3rd Floor, Shree Ram Palace, Bhoja Market, Sector 27, Noida, 201301, Uttar Pradesh.
# SERVER_URL = https://admin.pickkro.com/
# Ship Rocket Credentials
# SHIP_ROCKET_ENABLED = true
# SHIP_ROCKET_EMAIL = goldenhillslawn@gmail.com
# SHIP_ROCKET_PASSWORD = Welcome@1211
# Email Login Credentials
# EMAIL_HOST = smtpout.secureserver.net
# EMAIL_PORT = 465
# EMAIL_SSL = true
# EMAIL_AUTH_USER = support@pickkro.com
# EMAIL_AUTH_PASSWORD = Pickkro$$#21
# EMAIL_AUTH_FROM = support@pickkro.com
# Admin Details
# ADMIN_EMAIL = nishant.tripathi7700@gmail.com
ADMIN_EMAIL = support@domain.com